.EyeCard {
    margin-top: 5rem;
    height: 45vh;
    background: rgb(235, 235, 235);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.212);
    
    & figure {
        height: 35vh;
        
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
    
    &__footer {
        padding-top: .5rem;
        display: flex;
        height: 4rem;
        justify-content: space-around;
        background: rgb(243, 243, 243);
        & svg {
            fill: #222;
            &.liked{
                fill: rgb(243, 43, 70);
            }
            &.favorite{
                fill: rgb(36, 132, 156);
            }
        }
    }
    &__header {
        padding: .5rem 1rem;
        display: flex;
        height: 4rem;
        justify-content: space-between;
        background: rgb(245, 245, 245);

        & svg {
            // border: 1px solid #00f;
            fill: #222;
            &.liked{
            }
            &.favorite{
                fill: rgb(36, 132, 156);
            }
        }
    }
}

.icon_BTN,
.icon_BTN:focus,
.icon_BTN:hover,
.icon_BTN:active {
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
}