@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(.8)
    }

    15% {
        opacity: .3;
        transform: translate(-50%, -50%) scale(1.1)
    }

    30% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(.9)
    }

    40% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1)
    }

    90% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1)
    }

    100% {
        opacity: .6;
        transform: translate(-50%, -50%) scale(.5)
    }
}



.EyeCard {
    margin-top: 3rem;
    height: 500px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.212);

    & figure {
        position: relative;
        height: 410px;
        z-index: 0;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        & svg {
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 10;
            transform: translate(-50%, -50%);
            fill: rgb(247, 247, 247);
            animation : bounceIn .8s ease-in-out;
        }
    }

    &__footer {
        position: relative;
        z-index: 200;
        padding-top: .5rem;
        display: flex;
        height: 4rem;
        justify-content: space-around;
        background: rgb(243, 243, 243);

        & svg {
            fill: #555;

            &.liked {
                fill: rgb(243, 43, 70);
                animation: .2s showIn;
            }

            &.favorite {
                animation: .2s showIn;
                fill: rgb(36, 132, 156);
            }
        }
    }

    &__header {
        padding: .5rem 1rem;
        display: flex;
        height: 5rem;
        justify-content: space-between;
        align-items: center;
        background: rgb(245, 245, 245);

        & div {
            display: flex;
            align-items: center;
            font-size: 2rem;
            letter-spacing: 1px;
        }

        & img {
            width: 4rem;
            height: 4rem;
            margin: 0 1.5rem 0 .5rem;
            border-radius: 50%;
            display: inline-block;
        }

        & svg {
            fill: #222;
        }
    }
}

.icon_BTN,
.icon_BTN:focus,
.icon_BTN:hover,
.icon_BTN:active {
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    outline: none;

}