.colibri,
.colibri1,
.colibri2,
.colibri3,
.colibri4 {
    display: inline-block;
    background: url("/img/colibri.png") no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.colibri {
    background-position: -0px -0px;
    width: 300px;
    height: 327px
}

.colibri1 {
    background-position: -300px -0px;
    width: 300px;
    height: 327px
}

.colibri2 {
    background-position: -0px -327px;
    width: 300px;
    height: 327px
}

.colibri3 {
    background-position: -300px -327px;
    width: 300px;
    height: 327px
}

.colibri4 {
    background-position: -0px -654px;
    width: 300px;
    height: 327px
}


