.bg_danger {
    background-color: #ff6767 !important
}

.bg_danger:hover {
    background-color: #ff4e4e !important
}

.bg_success {
    background-color: #5fc48c !important
}

.bg_success:hover {
    background-color: #4cbd7f !important
}

.bg_primary {
    background-color: #579ca5 !important
}

.bg_primary:hover {
    background-color: #4e8c94 !important
}

.bg_white {
    background-color: #ebebeb !important
}

.bg_white:hover {
    background-color: #dedede !important
}

.bg_dark {
    background-color: #292b2c !important
}

.bg_dark:hover {
    background-color: #1d1e1f !important
}

.fg_danger {
    color: #ff6767 !important
}

.fg_success {
    color: #5fc48c !important
}

.fg_primary {
    color: #579ca5 !important
}

.fg_white {
    color: #ebebeb !important
}

.fg_dark {
    color: #292b2c !important
}

.fg_muted {
    color: rgba(46, 46, 46, 0.349) !important
}
