.searchBar {
  // flex: 0 0 60%;
  display: flex;
  align-items: center;
  // justify-content: center;
  // margin-left: 1rem;

  &__input {
    box-shadow: 0 0.2rem 0.3rem rgba(41, 43, 44, 0.1);
    font-family: inherit;
    font-size: inherit;
    color: #818181;
    background-color: #efefef;
    border: none;
    border-radius: 5px;
    padding: 1.2rem 2rem;
    width: 15rem;
    transition: all .2s;
    margin-right: -3.25rem;
    border: 1px solid rgb(197, 197, 197);


    @media only screen and (max-width: $bp-450) {
      font-size: 1.2rem;
    }

    &:focus {
      box-shadow: 0 0.5rem 1rem rgba(41, 43, 44, 0.2);
    
      background-color: #f0f0f0;
      outline: none;
      width: 60%;
      opacity: 1;

      & + .searchBar__icon {
        fill: #009646;
        cursor: pointer
      }
    }
  }

  &__icon {

    svg {
      height: 3rem !important;
      width: 3rem !important;
      fill: #c5c5c5;
    }

    padding: 0;
    outline: 0;
    cursor: none;
    transform: translateY(0);
    transition: all .3s;

    &:focus {
      transform: translateY(0)
    }

    &:active {
      transform: translateY(2px)
    }
  }
}