$dark: rgba(0, 0, 0, 0.245);

.camera {
  margin-top: 0 !important;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(to top, $color1, $color2);
  padding: 1rem;

  & .grid {
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    // background: #eee;
    background-image: linear-gradient(to top, rgba(#000, .3), rgba(#000,.3)), url("/img/card-4.jpg");
    background-position: bottom;

    & .row {
      height: 15rem;
      width: 90%;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      border-top: 1px solid $color1;
      border-bottom: 1px solid $color1;

    }

    & .col {
      width: 15rem;
      height: 70%;
      left: 50%;
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      border-right: 1px solid $color1;
      border-left: 1px solid $color1;
    }
  }

  @media only screen and (min-width: $bp-600) {
    padding: 2rem;

    & .grid {
      border-radius: 10px;
      & .row {
        height: 25rem;
      }
      & .col {
        width: 25rem;
      }
    }

    & .topController,
    .botController {
      & svg {
        margin: 2rem 0;

      }
    }
  }

  & .topController,
  .botController {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  & .topController {
    top: 1rem;

    & svg {
      fill: lighten($color2, 5%);
    }
  }

  & .botController {
    bottom: 1rem;

    & svg {
      fill: lighten($color1, 5%);

    }
  }
}