.finder {
  min-height: 100vh;
  position: relative;
  border: 1px solid transparent;
  height: 110vh;
  margin-top: 5rem;
  padding: 0 4rem;

  .userList {
    list-style: none;

    &__bg {
      margin-top: 1rem;
      border-radius: 5px;
      height: 12rem;
      background: linear-gradient(to top right, $color1, $color2);
      display: flex;
      align-items: center;
      padding: 2px;
    }

    &__card {
      border-radius: 5px;
      height: 100%;
      width: 100%;
      background: #eee;
      box-shadow: 0 0.3rem .5rem rgba(41, 43, 44, 0.2);
      display: flex;
      align-items: center;
      overflow: hidden;

      figure {
        width: 40%;
        height: 100%;
        border-radius: 2px;
        overflow: hidden;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      & span {
        font-size: 2rem;
        text-transform: capitalize;
        font-weight: 700;
        text-align: center;
        width: 40%;
      }

      & div {
        width: 20%;

      }

      &--icon {
        & svg {
          width: 5rem;
          height: 4rem;
          fill: $color3;
          transition: all .3s;
        }

        &:active {
          transform: scale(1)
        }
      }
    }

  }



  @media only screen and (max-width: $bp-450) {
    padding: 0 2rem;

    .userList {

      &__bg {
        height: 8rem;
      }

      &__card {

        & span {
          font-size: 1.6rem;
        }

        &--icon {
          & svg {
            width: 4rem;
            height: 3rem;
          }
        }
      }
    }
  }
}

.unfollowIcon {
  svg {
    fill: rgb(199, 199, 199) !important;
    transform: scale(.8)
  }
}