.login {
  height: 100vh;
  margin: 0;
  margin: auto;
  overflow: hidden;


  &__container {
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    color: #fff;
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, .3);

    & .header {
      background: linear-gradient(to right top, $color1, $color2);
      padding: 2rem 0;
      margin-bottom: 1rem;

      & h1 {
        line-height: 1;
      }

      & img {
        height: 12rem;
        width: 12rem;
      }
    }



    & input.loginInput {
      width: 80%;
      padding: 2rem;
      margin-top: 2rem;
      background: rgba(255, 255, 255, 0.367);
      border: 1px solid $color3;
      color: $color1;
      font-size: 1.6rem;
      letter-spacing: 1px;
      text-align: center;
      border-radius: 1px;
      transition: all .2s;

      &:focus {
        border-left: 10px solid $color2;
      }
    }

    & .isInvalid {
      border-bottom: 2px solid $colorDanger;
    }

    & .errMsg {
      color: $colorDanger;
      line-height: 1.4;
      letter-spacing: 1px;
      margin-bottom: -1rem;

    }

    & .welcome {
      color: $color2;
    }

    ::placeholder {
      color: $color1;
      font-size: 1.6rem;
    }

    & [type="submit"].loginBtn {
      margin-top: 2rem;
      background: linear-gradient(to right top, $color1, $color2);
      color: #fff;
      font-size: 1.8rem;
      padding: 1.5rem;
      width: 50%;
      border-radius: 30px;
      letter-spacing: 2px;
      transition: all .1s;
      border: 1px solid $color3 !important; 
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
      cursor: pointer;

      &:active  {
        transform: translate(0, 1px) !important;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
      }
    }

    .next {
      display: block;
      border: none;
      cursor: pointer;
      background: transparent;
      color: $color3;
      font-size: 1.4rem;
      padding: 2px 1px;
      letter-spacing: 1px;
      border-bottom: 1px solid $color3;
    }

    .links {
      width: 80%;
      display: flex;
      justify-content: space-around;
      margin: auto;
      padding: 2rem 0 3rem 0;
      opacity: .8;
      border: 1px solid transparent;
    }

    @media only screen and (max-height: $bp-600) {
      & img {
        height: 10rem;
        width: 10rem;
      }

      & input.loginInput {
        font-size: 1.4rem;
        padding: 1.4rem;
        margin: .8rem 0;
      }

      ::placeholder {
        font-size: 1.4rem;
      }

      & [type="submit"] {
        padding: 1rem;
      }

      .next {
        margin: 2rem auto;
      }
    }
  }

  @media only screen and (max-width: $bp-450) {
    background: linear-gradient(to right top, $color1, $color2);

    &__container {
      box-shadow: none;
      background: transparent;

      .header {
        background: transparent;

        & h1 {
          font-size: 2.8rem;
        }

        & img {
          height: 10rem;
          width: 10rem;
        }
      }

      .links {
        width: 90%;
        display: flex;
        justify-content: space-around;
        margin: auto;
        padding: 1rem 0 2rem 0;
        opacity: .8;
     
      }

      & .errMsg {
        line-height: 1.4;
      }

      & .welcome {
        color: #fff;
      }

      & input.loginInput {
        color: #fff;
        border-radius: none;
        padding: 1.4rem;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        border: 1px solid transparent;

        &:focus {
          border: 1px solid transparent;
          border-left: 10px solid rgba(231, 231, 231, 0.653);
        }
      }

      & [type="submit"].loginBtn,
      [type="submit"].loginBtn:focus {
        padding: 1.5rem;
        font-size: 1.4rem;
        color: #eee;
        border: none !important;
        box-shadow: 0 .3rem .8rem rgba(0, 0, 0, .2);
        background: #eee;
        margin: 2rem auto;
        color: $color3;
        font-weight: 700;
      }

      ::placeholder,
      .next {
        color: #fff;
      }

      .next {
        color: #eee;
        font-size: 1.2rem;
        border-bottom: 1px solid #eee;
      }
    }
  }
  @media only screen and (max-width: $bp-360) {

    &__container {
      .header {
        & h1 {
          font-size: 2.2rem;
        }
        & img {
          height: 8rem;
          width: 8rem;
        }
      }
      .links {
        margin-bottom:2rem;
        padding: 0; 
      }

      & .errMsg {
        line-height: 1;
        font-size:  1.3rem;
        margin-top: -5px;
      }

      & input.loginInput {
        padding: 1.4rem;
        margin-top: 2rem;
      }

      & [type="submit"],
      [type="submit"]:focus {
        padding: 1.1rem;
      }

      .next {
        margin: 0;
      }
    }
  }

}