.profile {
  background: #eee;
  height: 100vh;
  margin-top: 0;
  overflow: hidden;

  & figure.banner {
    border-bottom: 3px solid $color2;
    position: relative;
    height: 40vh;
    z-index: 0;
    margin-top: $navbar;
    transition: all .3s;

    & h1 {
      font-size: 6rem;
      position: absolute;
      color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: capitalize;
      letter-spacing: 2px;
      text-shadow: 0 .4rem .1rem rgba(0, 0, 0, 0.5);
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      z-index: 0;
    }

    img.headShot {
      border: 3px solid $color2;
      border-radius: 50%;
      width: 20rem !important;
      height: 20rem !important;
      margin: auto;
      margin-top: -10rem;
      z-index: 10;
      transition: all .3s;
    }
  }

  .badges {
    margin: 6rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;

    & ul {
      padding: 1rem 3rem 1rem 0rem;
      list-style: none;
      line-height: 1.2;
      width: 50%;
      height: rem;
      display: flex;
      justify-content: space-around;

      & li {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        color: $color1;
        font-size: 2.2rem;

        & span {
          font-weight: 700;
          color: $color2;
        }
      }
    }

    & ul:last-of-type {
      padding: 1rem 0 1rem 3rem;
    }
  }

  & .about {
    height: 35%;

    & p,
    textarea.editText {
      padding: 4rem;
      font-size: 2rem;
      text-align: center;
      height: 100%;
      width: 100%;
      word-wrap: break-word;
      line-height: 1.5;
      color: #444;
    }

    p.placeholder {
      text-align: center;
      margin-top: 6rem;
      font-size: 2.5rem;
    }

    textarea.editText {
      background: none;
      border: none;
      font-family: inherit;
      border: 2px solid rgba($color2, .8);
    }
  }

  figure.editImage,
  img.editImage {
    filter: blur(0) !important;
    border: 4px solid $color2 !important;
    cursor: pointer !important;
  }


  @media only screen and (max-width: $bp-600) {
    & figure.banner {
      & h1 {
        font-size: 4rem;
      }

      img.headShot {
        width: 16rem !important;
        height: 16rem !important;
      }
    }

    & .badges {
      font-size: 1.6rem;

      ul {
        li {
          font-size: 2rem;
        }
      }
    }

    .about {

      & p,
      textarea.editText {
        padding: 1rem 3rem;
        font-size: 1.6rem;
      }

      p.placeholder {
        text-align: center;
        margin-top: 4rem;
        font-size: 1.4rem;
      }
    }
  }

  @media only screen and (max-width: $bp-450) {
    & figure.banner {
      & h1 {
        font-size: 4rem;
        top: 40%;
      }

      img.headShot {
        width: 14rem !important;
        height: 14rem !important;
        margin-bottom: 2rem;
      }
    }

    & .badges {

      ul,
      ul:last-of-type {
        padding: 0;

        li {
          font-size: 1.8rem;
        }
      }
    }

    .about {

      & p,
      textarea.editText {
        padding: 2rem;
        font-size: 1.6rem;
      }

      p.placeholder {
        text-align: center;
        margin-top: 4rem;
        font-size: 1.4rem;
      }
    }

  }

  @media only screen and (max-width: $bp-360) {
    & figure.banner {
      & h1 {
        font-size: 4rem;
        top: 40%;
      }

      img.headShot {
        width: 14rem !important;
        height: 14rem !important;
        margin-bottom: 2rem;
      }
    }

    & .badges {
      margin-top: 3.5rem;
      ;

      ul,
      ul:last-of-type {
        padding: 0;

        li {
          font-size: 1.4rem;
        }
      }
    }

    .about {

      & p,
      textarea.editText {
        padding: 0 2rem;
        font-size: 1.5rem;
      }

      p.placeholder {
        text-align: center;
        margin-top: 4rem;
        font-size: 1.6rem;
      }
    }

  }
}