.newPost {
  z-index: 100;
  background: #ffffffe1;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  max-width: 800px;
  height: 70vh;
  top: 15vh;
  width: 90%;
  box-shadow: 0 .5rem 3rem rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
  animation: showIn .5s;
  transition: all .4s;

  & .EyeCard__header {
    text-transform: capitalize;
    font-weight: 700;
    color: $color1;
    svg,
    button {
      fill: rgba($color3, .8);
      height: 3.5rem !important;
      width: 3.5rem !important;
    }
    &:hover {

    }
  }

  form.uploader {
    height: 100%;

    figure {
      float: left;
      clear: both;
      position: relative;
      width: 100%;
      height: 60%;
      text-align: center;
      background: #ddd;
      transition: all .2s ease;
      user-select: none;
      cursor: pointer;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        z-index: 0;
      }

    }

    & #placeholder {
      position: absolute;
      width: 90%;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%);

      svg {
        width: 10rem;
        height: 10rem;
        fill: #999;
        cursor: pointer;
      }

      & span {
        position: relative;
        margin-top: 0;
        padding: 1rem;
        font-size: 2.5rem;
        font-weight: 700;
        color: #888;
        letter-spacing: 1px;
        display: block;
        margin: 2rem;
      }
    }







    progress,
    .progress {
      // appearance: none;
      display: inline;
      clear: both;
      margin: 0 auto;
      width: 100%;
      max-width: 180px;
      height: 8px;
      border: 0;
      border-radius: 4px;
      background-color: #eee;
      overflow: hidden;
    }

    .progress[value]::-webkit-progress-bar {
      border-radius: 4px;
      background-color: #eee;
    }

    .progress[value]::-webkit-progress-value {
      background: linear-gradient(to right, darken($color1, 8%) 0%, $color1 50%);
      border-radius: 4px;
    }

    .progress[value]::-moz-progress-bar {
      background: linear-gradient(to right, darken($color1, 8%) 0%, $color1 50%);
      border-radius: 4px;
    }

    input[type="file"] {
      display: none;
    }


    & .textArea {
      border: none;
      padding: 3rem;
      font-size: 2rem;
      color: inherit;
      font-family: inherit;
      text-align: center;
      width: 100%;
      height: 20%;
      background: transparent;
      overflow: hidden;
    }
  }

  @media only screen and (max-width: $bp-450) {
    & .EyeCard__header {

      svg,
      button {
        height: 3rem !important;
        width: 3rem !important;
      }
    }

    form.uploader {
      & .textArea {
        font-size: 1.4rem;
        padding: 2rem 1rem;
      }
    }
  }
}

.newPost__BG {
  position: fixed;
  background: #00000053;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
}