.profile {
  background: #eee;
  height: 100vh;

  & figure.banner {
    border-bottom: 3px solid $color2;
    position: relative;
    height: 40vh;
    z-index: 0;
    transition: all .3s;

    & h1 {
      font-size: 6rem;
      position: absolute;
      color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: capitalize;
      letter-spacing: 2px;
      text-shadow: 0 .4rem .1rem rgba(0, 0, 0, 0.5);
    }

  
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      z-index: 0;
    }

    img.headShot {
      border: 3px solid $color2;
      border-radius: 50%;
      width: 20rem !important;
      height: 20rem !important;
      margin: auto;
      margin-top: -10rem;
      z-index: 10;
      transition: all .3s;
    }
  }




  .badges {
    margin: 6rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;

    & ul {
      padding: 1rem 3rem 1rem 0rem;
      list-style: none;
      line-height: 1.2;
      width: 50%;
      height: rem;
      display: flex;
      justify-content: space-around;

      & li {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        color: $color1;
        font-size: 2.2rem;

        & span {
          font-weight: 700;
          color: $color2;
        }
      }
    }

    & ul:last-of-type {
      padding: 1rem 0 1rem 3rem;
      // border: 1px solid rgb(255, 0, 242);
    }
  }

  & .about {
    height: 35%;

    & p {
      padding: 1rem 2rem;
      font-size: 2rem;
      text-align: justify;
      height: 80%;
      width: 100%;
      word-wrap: break-word;
      color: #444;
    }
    p.placeholder {
      text-align: center;
      margin-top: 6rem;
      font-size: 2.5rem;
    }
   }


  @media only screen and (min-width: $bp-900) {

    .badges {
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: $bp-600) {

    & figure.banner {
      & h1 {
        font-size: 4rem;
      }
      img.headShot {
        width: 16rem !important;
        height: 16rem !important;
      }
    }

    & .badges {
      font-size: 1.6rem;
    }
  }

  @media only screen and (max-width: $bp-450) {

    & figure.banner {
      & h1 {
        font-size: 4rem;
        top: 40%;
      }
      img.headShot {
        width: 14rem !important;
        height: 14rem !important;
      }
    }

    & div.badges {
      margin: 4rem 0 1rem 0;

      // font-size: 1.4rem;
      & ul {
        padding: 0 !important;

      }

      li {
       font-size: 1.8rem 
      }

      & ul:last-of-type {
        & li:last-of-type {
          // border: 1px solid #00f;
          // padding-right: 1rem;
        }
      }

      & p {
        padding: 1rem 2rem;
        font-size: 1.6rem;
        color: #444;
      }
      p.placeholder {
        text-align: center;
        margin-top: 4rem;
        font-size: 2rem;
      }

    }
  }

  @media only screen and (max-width: $bp-360) {
    & figure.banner {
      // height: 35vh;

      & h1 {
        top: 35%;
      }

      img.headShot {
        width: 12rem !important;
        height: 12rem !important;
      }
    }

    .badges {
      margin: 2rem 0 1rem 0;
    }

    & .about {
      & h1 {
        line-height: 1.2;
      }
      p {
        line-height: 1.3;
      }
    }
  }

  figure.editImage,
  img.editImage {
    filter: blur(0) !important;
    border: 4px solid #eee !important;
    cursor: pointer !important;
  }

  @keyframes border {
    0% {
      border: 1px solid rgba($color2, .3);
    }

    100% {
      border: 2px solid rgba($color2, .8);
    }

  }

  textarea.editText {
    background: none;
    padding: 0 2rem;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    text-align: justify;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.5;
    animation: border .3s;
    border: 4px solid rgba($color2, .8);

  }

}